@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

body {
	background-color: rgba(33,33,33,1.0);
	font-family: 'Inknut Antiqua', serif;
	color: silver;
}

b {
	font-weight: normal;
	color: #b47853;
}

figure {margin: 1em auto;}

img.textImage {
	width: 100%;
	height: auto;
	border: thin silver solid;
}

footer {font-size: 0.8em;}

aside ul {padding-left: 0;}

li {list-style-type: none; 
	line-height: 1.5em;
}

li + li {margin-top: .3em;}

ol li {text-indent: -1em; max-width: 400px;}

header, main, footer {
	max-width: 600px; 
	margin: 0 auto;
	padding-left: 0.5em;}

h1, h2, h3{
	color: #b47853; 	
	border-bottom: thick #b47853 solid;
}

h1 {font-size: 2.25em; }
h2 {font-size: 1.7em;}
h3 {border-width: thin;}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin: .5em auto;}

p + p {text-indent: 1em;}

a {color: #b47853; text-decoration: none;}

a:hover {text-decoration: underline; }

.informacionTexto {color:red;}

.hide {display: none;}

.small {font-size:.8em;}

.chevron {position: relative;}

.chevron::after {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: absolute;
	bottom: 18px;
	right: 0;
	transform: rotate(45deg);
	width: 0.45em;
}

.chevronDown::after {
	transform: rotate(135deg);
}

.theEnd {
	font-size: 1.7em;
	text-align: center;
	margin: 2em;
	color: #b47853; 
	text-indent: 0;
}

#mensajes {
	margin: 0 auto; 
	padding: 1em;
	color:black; 
	background: #FFDC00; 
	font-family: 'courier new', monospace; 
	text-align: center;}


@media (min-width: 1200px)
	{
	#flex {display: flex; justify-content: center; }


	header {
	width: 400px; 
	margin: 0 3em 0 0;}

	main { margin: 24.120px 0;}

	#mensajes {width: 1224px;}
	}
